<h1 id="as-good-as-my-word">As good as my word</h1>
<p>I’m done. I said I’d do it in a week and I did it. I mucked about two days, had to rush in the end. But that hardly matters.</p>
<p>I benefitted from a bad mathematical brain, I think. Yesterday I thought my deadline was that day. So I bashed out about 3,000 words. That’s the most words I’ve written in one day in years. They were half-decent words, too.</p>
<p>In contrast, today’s been half-assed. I’ve got to the end, but what I’ve got is sketchy. A little undercooked.</p>
<p>I’m often not sure how to end my stories. I often try to do something subtle, because can <em>feel</em> there’s something <em>big</em> behind my (short) story. But I often can’t bring it to light. I’d be better off cutting, simplifying. And, perhaps I will, here.</p>
<p>Thinking about the story now, I think this might be my best yet once it’s done. It’s come from a good idea, it moves along.</p>
<p>It shares a flaw with, I swear, all of my stories, which is it’s … subtle. What I mean is it might be a loose bunch of ideas barely hanging together as a story.</p>
<p>Doesn’t matter. Doesn’t matter. What matters is what I’m going to do next.</p>
<p>And that’s pledge to have the thing edited and done by this time next week. It’s evening, so let’s give myself until the 25th.</p>
<p>I’ve stuck epub and html versions of version 1 into build/v1.</p>
<p>Repo: <a href="https://gitlab.com/objection/everyone-is-leaving.git">gitlab</a></p>
