<h1 id="words">6473 Words</h1>
<h2 id="crap">Crap</h2>
<p>Wow, I just lost this entry. That’s something I’ve not done in about five years. It was fucking gold, too. Let’s reheat it, see how it tastes. They eat gold, you know, rich people, with beef. Disgusting behaviour, isn’t it?</p>
<h2 id="basically">Basically</h2>
<p>What I was saying was the story’s not going to be ~5,000 words. It’s going to be longer and that sucks.</p>
<p>So I thought I’d go look again Beneath Ceaseless Skies’ submission guidelines. Where did I get this 5,000 words number from, you know? All they say is they’re looking for &lt; 15,000 words. They say if you’ve gone over you better have a good reason.</p>
<p>So what’s the average Beneath Ceaseless Skies story length? I found out.</p>
<p>I already had all of their stories ripped from their website. I’m not sure if that’s naughty or not. I did it by scraping the website with wget, formatting the html in text with w3m and chopping the non-story bits with a Vim script.</p>
<p>I’m really proud. And I’m proud of what I did now:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode zsh"><code class="sourceCode zsh"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true"></a></span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true"></a><span class="kw">cd</span> ~/blah/beneath-ceaseless-skies-stories</span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true"></a></span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true"></a><span class="kw">for</span> f <span class="kw">in</span> */*.txt;</span>
<span id="cb1-5"><a href="#cb1-5" aria-hidden="true"></a>    <span class="kw">do</span> <span class="kw">wc</span> -l  <span class="ot">$f</span> <span class="kw">&gt;&gt;</span> /tmp/beneath-ceaseless-skies-wordcounts.txt</span>
<span id="cb1-6"><a href="#cb1-6" aria-hidden="true"></a><span class="kw">done</span> <span class="kw">|</span> <span class="kw">sort</span> -n</span>
<span id="cb1-7"><a href="#cb1-7" aria-hidden="true"></a></span>
<span id="cb1-8"><a href="#cb1-8" aria-hidden="true"></a><span class="ot">total_words=</span>0;</span>
<span id="cb1-9"><a href="#cb1-9" aria-hidden="true"></a></span>
<span id="cb1-10"><a href="#cb1-10" aria-hidden="true"></a><span class="ot">n_lines=$(</span><span class="kw">wc</span> -l /tmp/beneath-ceaseless-skies-wordcounts.txt <span class="kw">|</span> <span class="kw">cut</span> -d<span class="st">&#39; &#39;</span>  -f1<span class="ot">)</span>;</span>
<span id="cb1-11"><a href="#cb1-11" aria-hidden="true"></a><span class="kw">for</span> num <span class="kw">in</span> <span class="ot">$(</span><span class="kw">cut</span> -d<span class="st">&#39; &#39;</span> -f1 <span class="kw">&lt;</span> /tmp/beneath-ceaseless-skies-wordcounts.txt <span class="ot">)</span>;</span>
<span id="cb1-12"><a href="#cb1-12" aria-hidden="true"></a>    <span class="kw">do</span> <span class="ot">total_words=$((</span> <span class="ot">$total_words</span> + <span class="ot">$num</span> <span class="ot">))</span>;</span>
<span id="cb1-13"><a href="#cb1-13" aria-hidden="true"></a><span class="kw">done</span>;</span>
<span id="cb1-14"><a href="#cb1-14" aria-hidden="true"></a></span>
<span id="cb1-15"><a href="#cb1-15" aria-hidden="true"></a><span class="kw">echo</span> <span class="ot">$((</span> <span class="ot">$total_words</span> / <span class="ot">$n_lines</span> <span class="ot">))</span>;</span></code></pre></div>
<p>Cool, huh? I won’t explain what it does. Have you ever tried to explain what <em>anything</em> does? It’s hard. It’s much harder than making up stories.</p>
<p>I mean, it gets the average. And by average I mean mean. The sum of the array divided by the number of elements in the array.</p>
<p>Anyway, the answer is 6473 words. A comforting answer. 6473 is a big enough space to tell a story in and not so big your trousers fall down.</p>
<p>That sentence was wittier the first time around.</p>
<p>What else did I say? I gave more of a justification for having ripped Beneath Ceaseless Skies’s stories. I mean, it’s LEGAL. Right? Yeah, yeah, yeah. It might become illegal if I distributed it. Of course, it <em>is</em> naughty. They’d like me to look at their ads. But I use adblock! So what am I saying?</p>
<p>I guess that I’ve done nothing wrong and in fact might have made the world a better place. Certainly I’ve benefitted myself. What power! 6473 words.</p>
<p>Repo: <a href="https://gitlab.com/objection/everyone-is-leaving.git">gitlab</a></p>
