<h1 id="a-real-programmer">A real programmer</h1>
<p>They say a real programmer is lazy. They hate doing things so much they spend weeks writing tools that will save them minutes. Of course, sometimes they write tools that will save lots of people centuries.</p>
<p>What I’m getting at is I wrote a script today. It tells you the word count of each chapter in your story.</p>
<p>I say “chapter”, but really I mean –</p>
<p>What do you call it, when you, you know:</p>
<blockquote>
<p>“Blah, blah, blah”, said Percy.</p>
<p>Little he know, the fool, that that blah was the last blah he would every blah.</p>
<p>On the following Tuesday I packed up my jimjams and set out into the Wild.</p>
</blockquote>
<p>You don’t call that a chapter. I’ll die before I call it a scene (I’m not a director, and I don’t secretly wish I was one).</p>
<p>Well, anyway, my script counts up those. I wrote it in C. Would you like to <em>C</em>?</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode c"><code class="sourceCode c"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true"></a></span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true"></a><span class="pp">#include </span><span class="im">&lt;err.h&gt;</span></span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true"></a><span class="pp">#include </span><span class="im">&quot;../wc/wc.h&quot;</span></span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true"></a><span class="pp">#include </span><span class="im">&quot;../cat/cat.h&quot;</span></span>
<span id="cb1-5"><a href="#cb1-5" aria-hidden="true"></a><span class="pp">#include </span><span class="im">&quot;../split/split.h&quot;</span></span>
<span id="cb1-6"><a href="#cb1-6" aria-hidden="true"></a></span>
<span id="cb1-7"><a href="#cb1-7" aria-hidden="true"></a><span class="dt">int</span> main (<span class="dt">int</span> argc, <span class="dt">char</span> **argv) {</span>
<span id="cb1-8"><a href="#cb1-8" aria-hidden="true"></a></span>
<span id="cb1-9"><a href="#cb1-9" aria-hidden="true"></a>    <span class="cf">if</span> (argc &lt; <span class="dv">2</span>) errx (<span class="dv">1</span>, <span class="st">&quot;usage: %s file&quot;</span>, *argv);</span>
<span id="cb1-10"><a href="#cb1-10" aria-hidden="true"></a></span>
<span id="cb1-11"><a href="#cb1-11" aria-hidden="true"></a>    <span class="dt">char</span> *buf;</span>
<span id="cb1-12"><a href="#cb1-12" aria-hidden="true"></a>    <span class="dt">int</span> ret = cat_paths_into_buf (&amp;buf,</span>
<span id="cb1-13"><a href="#cb1-13" aria-hidden="true"></a>        (<span class="dt">const</span> <span class="dt">char</span> *[]) {argv[<span class="dv">1</span>]}, <span class="dv">1</span>, <span class="dv">0</span>);</span>
<span id="cb1-14"><a href="#cb1-14" aria-hidden="true"></a></span>
<span id="cb1-15"><a href="#cb1-15" aria-hidden="true"></a>    <span class="dt">size_t</span> n_bufs;</span>
<span id="cb1-16"><a href="#cb1-16" aria-hidden="true"></a>    <span class="dt">char</span> **bufs = split (buf,</span>
<span id="cb1-17"><a href="#cb1-17" aria-hidden="true"></a>            strchr (buf, <span class="ch">&#39;\0&#39;</span>),</span>
<span id="cb1-18"><a href="#cb1-18" aria-hidden="true"></a>            (<span class="dt">char</span> *[]) {<span class="st">&quot;##&quot;</span>}, <span class="dv">1</span>, &amp;n_bufs, <span class="dv">1</span>);</span>
<span id="cb1-19"><a href="#cb1-19" aria-hidden="true"></a></span>
<span id="cb1-20"><a href="#cb1-20" aria-hidden="true"></a>    <span class="kw">struct</span> wc wc;</span>
<span id="cb1-21"><a href="#cb1-21" aria-hidden="true"></a></span>
<span id="cb1-22"><a href="#cb1-22" aria-hidden="true"></a>    each (buf, &amp;bufs[<span class="dv">1</span>], n_bufs - <span class="dv">1</span>) {</span>
<span id="cb1-23"><a href="#cb1-23" aria-hidden="true"></a>        wc = wc_str (*buf);</span>
<span id="cb1-24"><a href="#cb1-24" aria-hidden="true"></a>        printf (<span class="st">&quot;%zu: %zu</span><span class="sc">\n</span><span class="st">&quot;</span>,</span>
<span id="cb1-25"><a href="#cb1-25" aria-hidden="true"></a>                buf - bufs + <span class="dv">1</span> - <span class="dv">1</span>, wc.words);</span>
<span id="cb1-26"><a href="#cb1-26" aria-hidden="true"></a>    }</span>
<span id="cb1-27"><a href="#cb1-27" aria-hidden="true"></a>}</span></code></pre></div>
<p>I’ll tell you some interesting things about this program.</p>
<h2 id="each">1!!!!!!!!!!!!!!!!!!!!!!! (each)</h2>
<p>I like to use a macro to loop over arrays. In C, traditionally you do</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode c"><code class="sourceCode c"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true"></a></span>
<span id="cb2-2"><a href="#cb2-2" aria-hidden="true"></a><span class="cf">for</span> (<span class="dt">int</span> i = <span class="dv">0</span>; i &lt; /\* eg \*/ <span class="dv">100</span>;  i++) {</span>
<span id="cb2-3"><a href="#cb2-3" aria-hidden="true"></a>    /\* eg \*/ printf (<span class="st">&quot;%d</span><span class="sc">\n</span><span class="st">&quot;</span>, the_thing[i]) };</span>
<span id="cb2-4"><a href="#cb2-4" aria-hidden="true"></a>}</span></code></pre></div>
<p>And I think that’s more universally useful. I think if you were going to have just one kind of for loop, that would be it. But I like the other kind, the kind you get in Bash and no doubt Python and all the rest: “for THING in THINGS”.</p>
<p>The each macro lets me do that. Actually I can do that without a macro, and did for a long time.</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode c"><code class="sourceCode c"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true"></a></span>
<span id="cb3-2"><a href="#cb3-2" aria-hidden="true"></a><span class="cf">for</span> (<span class="kw">struct</span> thing *thing = things;</span>
<span id="cb3-3"><a href="#cb3-3" aria-hidden="true"></a>        thing &lt; things + n_things; thing++) {</span>
<span id="cb3-4"><a href="#cb3-4" aria-hidden="true"></a>    (*thing).whatever = <span class="st">&quot;joy&quot;</span>;</span>
<span id="cb3-5"><a href="#cb3-5" aria-hidden="true"></a>}</span></code></pre></div>
<p>But that’s pretty painful to write because it makes your eyes bleed.</p>
<h2 id="section">2!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h2>
<p>I include the header files “wc.h”, “cat.h” and “split.h”. These are libs I’ve written. split.h is straightforward: split a string. cat and wc, though, might be interesting to talk about.</p>
<p>C’s a bad language to write little scripts like this in, or so, I feel, people believe. But I say screw you.</p>
<p>What makes C bad as scripting language is the standard library. It doesn’t have convenient functions. As an example there no function simply split a string. There’s strtok. It’s not really the same. There’s no join, launch_emacs, no nothin. There’s actually no dynamic array struct-plus-function. Maybe because no one would agree on the best way to do it?</p>
<p>The program I pasted: would it really be that much shorter in Python? I say NO! Not <em>that</em> much shorter. Not when you have libs like wc, cat. But you have to write those yourself.</p>
<p>You can use big general-purpose libraries like glib and maybe one day I will. I’ve never liked the idea of linking to such a big binary just to write programs like the one I. But I think that’s empty prejudice. Most scripts you write yourself in Bash are personal. I mean, they run on <em>your</em> machine, and glib (or whatever) is on <em>your</em> machine.</p>
<p>My wc and cat libs are based, you’ll know if you’re in the know, on Unix commands: wc (wordcount) and cat (concatenate – it reads in files, outputs them to the screen).</p>
<p>I’ve thought for a long time I’d love to see GNU’s Coreutils designed as C libraries. The commands would be frontends for those libraries. Because, like I say, the pain in C isn’t the language, it’s the low-level nature of its standard library.</p>
<p>Even other libraries are obnoxiously low-level. There’s a commonly-used library, PCRE (Perl-Compatible Regular Expressions). It’s very clever, well made, has loads of functions.</p>
<p>But it doesn’t have a “match” function! I swear, I’ve looked. There’s no function you can call to just figure out if a bit of text matches a pattern. Instead you’re expected to compile a regex, then execute it, checking for errors along the way. It about six lines for something that in in other languages is simply “==” or “=~”.</p>
<p>So, of course, the first thing you do when faced with that is wrap it in your own function, regmatch and forget about all the rest.</p>
<p>What else do I have to complain about?</p>
<p>Nothing. What a disgrace.</p>
<p>That was a pretty incoherent blog post, but I’ve overdone it on the coffee / energy drinks and have a headache.</p>
<h2 id="oh">Oh</h2>
<p>I suppose I should say something about the story. I’ll tell you I’ve come up with a name: The Long, Thin Tail of God. I’ll also spurt out here the names I considered. Fast content, ker-splat, paste it in.</p>
<ul>
<li>Home</li>
<li>Lonely</li>
<li>Marrowbone War</li>
<li>Burane Massacre</li>
<li>Big Rock on a Beach</li>
<li>Big House on the Hill</li>
<li>The Whore of Black Lake</li>
<li>To Jump on My Bed</li>
<li>Jumping At Every Sound</li>
<li>An Archaeologist</li>
<li>A Spy</li>
<li>It Wasn’t Sheer Bliss</li>
<li>Ice-cold home</li>
<li>As If I Was A Stranger</li>
<li>Xunotic</li>
<li>Xunophillia</li>
<li>Xunophobia</li>
<li>Because You’re not <em>worthy</em>, Soraen</li>
<li>Right in the Centre of Town</li>
<li><em>Yes</em>, I Would Have Said</li>
<li>Keep the Fire Burning</li>
<li>Eternal Flame</li>
<li>What a Lot of Work it Must Take</li>
<li>The Burané Massacre.</li>
<li>The Ape-People</li>
<li>The Monkey God</li>
<li>The Strange Tale of the Long, Thin Tail</li>
<li>The Long, Thin tail – that’s a nice pun.</li>
<li>The Long, Thin Tail of God</li>
</ul>
<p>I went with the Tail one for a very practical reason: the story is, in the end, about this monkey god, Xu. And there’s bugger all about him in story until near the end. I kind of liked that. I like stories that surprise me. I don’t have strong opinions about how stories should be.</p>
<p>But I know if I don’t drop heavy hints about the God before he’s mentioned at the end, people will say, “Huh? Where did <em>he</em> come from?”</p>
<p><em>He came from your mama! Now shut up and just enjoy the damn story!</em></p>
<p>Repo: <a href="https://gitlab.com/objection/everyone-is-leaving.git">gitlab</a></p>
