<h1 id="let-me-complain-about-meson">Let me complain about Meson</h1>
<h2 id="about-hobbits">About Hobbits</h2>
<p>Meson’s a build system. Or possibly Ninja, Meson’s backend, is a build system. Let’s just say the whole thing is.</p>
<p>It’s an alternative to CMake, which is an alternative to the Autotools, which is a way to write makefiles that work on various systems for fewer pints of blood and sweat. And makefiles are basically recipes, a convenient way to run shell commands that (most commonly) translate your source code into a binary that your computer can run.</p>
<p>When I first used Meson I went, “Wow”. I was thrilled. I’ve never got my head around makefiles, I think because – well, I’m always saying I’m stupid, so this time I’ll say – I’m lazy. Makefiles aren’t complicated at their core. I think what’s confusing is the many shortcuts you can take with them. Many shortcuts make things hard to learn. You can’t see the wood for the trees. And cruft.</p>
<p>If I do one day finally learn Make, I’ll deliberately restrict myself to the old, more verbose syntax. This general approach is what everyone should take whenever they learn something. Start with the scales (music analogy). I’m a guitarist and I’ve hardly bothered. They’re boring. And you think (’cause you’re arrogant) <em>other</em> people need to start with the scales, OK – and there’s nothing wrong with being dumb! – but me …</p>
<p>Lots of us are like this. We think we understand enough or at least trust our perception of our own intelligence – and rush ahead. When people ask other people how to make computer games they get told to make Pong. “Actually, sorry, no,” says OP, “I’m making an open-world simulation CRPG, thanks. Yes, I know it’ll take me a while.”</p>
<p>You’ve got to make Pong. I’m thirty-six and I’ve known this for years. And yet the game I’m writing is a Zelda clone. However, I <em>have</em> paid my dues, having written approximately 1,00,000 command-line programs.</p>
<p>The problem with bells-and-whistles, do-everything-for-you <em>things</em> (like Meson) is what do you do when you can’t get it to do the thing you you need it to do? Look in its documentation. Or possibly the documentation for one of the many programs/libraries/framewords/apis it uses. And when you do, you find (tenuous metaphor) they’re talking Mario and GTA and the Elder Scrolls and you don’t understand, because you didn’t make Pong.</p>
<p>They don’t want you to make Pong. “Try our system/framework/platform. It’s got x and y and you’ll love it! You’ll never have to bother with all those low-level things again.”</p>
<p>Tom Waits can <a href="https://www.youtube.com/watch?v=A2_snSkpULQ">explain it better</a>.</p>
<p>And you end up dumb as a brick. A user instead of wizard you deserve to be. They took your magic wand.</p>
<p>So why am I ranting away about this? As any mediocre scriptwriter will be able to guess, there has been an inciting incident. I am incited, and an incident is responsible.</p>
<p>Basically, I was playing with Zig <a href="#fn1" class="footnote-ref" id="fnref1" role="doc-noteref"><sup>1</sup></a>. No one’s written a Syntastic (Vim linting plugin) checker for it, but there is a Zig language server. So I got rid of Syntastic and got ALE (Asynchronous Language … ?), which does the same job as Syntastic, but asynchronously and with LSP support.</p>
<p>LSP – Language Server Protocol – is a Microsoft thing. A good thing, a way for any editor to offer lots of IDE-like things. We could always do those things, with various tools like Ctags but this does it better. Because it makes use of your actual compiler or interpreter’s output.</p>
<p>Getting it set up’s not easy, though, though it worked for me first try this time. A testament to how much I’ve learned? Maybe, but ALE knew where to look for the compile_commands.json and Meson stuck it in the right place.</p>
<p>I always make an effort to properly introduce technical things I talk about, for the sake of the fictional layperson. I, for one, get bored and stop listening to things I don’t understand. But it’s hard, and I’ve failed here before even getting to my point.</p>
<p>Which is systems like Meson are shit. I’ll keep using it, though. I won’t write Pong, and I won’t use Cmake.</p>
<p>The reason it’s shit is I’ve spent five hours trying to silence a clangd warning. clangd’s the name of a language server. For C and C++. At some point today I completely forgot about Zig.</p>
<p>I use gcc to compile my C programs, and too eagerly use gcc extensions. The language server stuff is all to do with clang. So, though I’m <em>compiling</em> with gcc, <em>clang</em> is being used to <em>LINT</em> <a href="#fn2" class="footnote-ref" id="fnref2" role="doc-noteref"><sup>2</sup></a> my C program.</p>
<p>This should be fine. clang claims to be a drop-in replacement for gcc. But it’s not.</p>
<h2 id="tom-bombadil">Tom Bombadil</h2>
<p>I like gcc’s “-fms-extensions” flag. That lets you include structs that have already been defined as anonymous members of another struct.</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode c"><code class="sourceCode c"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true"></a></span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true"></a><span class="kw">struct</span> apple {</span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true"></a>    <span class="dt">char</span> *name;</span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true"></a>};</span>
<span id="cb1-5"><a href="#cb1-5" aria-hidden="true"></a></span>
<span id="cb1-6"><a href="#cb1-6" aria-hidden="true"></a><span class="kw">struct</span> orange {</span>
<span id="cb1-7"><a href="#cb1-7" aria-hidden="true"></a>    <span class="kw">struct</span> apple;</span>
<span id="cb1-8"><a href="#cb1-8" aria-hidden="true"></a>};</span></code></pre></div>
<p>It’s -fms-extensions that permits the nameless struct apple inside the struct orange. Normally you’ve have to give it a name, like:</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode c"><code class="sourceCode c"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true"></a></span>
<span id="cb2-2"><a href="#cb2-2" aria-hidden="true"></a><span class="kw">struct</span> orange {</span>
<span id="cb2-3"><a href="#cb2-3" aria-hidden="true"></a>    <span class="kw">struct</span> apple apple;</span>
<span id="cb2-4"><a href="#cb2-4" aria-hidden="true"></a>};</span></code></pre></div>
<p>And refer to it like <code>orange.apple.name = "Frederick"</code>. -fms-extensions lets you do <code>orange.name = "Frederick"</code>.</p>
<p>It’s just <em>nice</em>. I’ll show you another trick, while I’m on the subject.</p>
<p>It fixes the only downside of this approach, which is that now you can’t refer to the member struct as itself: it doesn’t have name. But!</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode c"><code class="sourceCode c"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true"></a></span>
<span id="cb3-2"><a href="#cb3-2" aria-hidden="true"></a><span class="kw">struct</span> orange {</span>
<span id="cb3-3"><a href="#cb3-3" aria-hidden="true"></a>    <span class="kw">union</span> {</span>
<span id="cb3-4"><a href="#cb3-4" aria-hidden="true"></a>        <span class="kw">struct</span> apple;</span>
<span id="cb3-5"><a href="#cb3-5" aria-hidden="true"></a>        <span class="kw">struct</span> apple apple;</span>
<span id="cb3-6"><a href="#cb3-6" aria-hidden="true"></a>    };</span>
<span id="cb3-7"><a href="#cb3-7" aria-hidden="true"></a>}</span></code></pre></div>
<p>Now you are eating your cake in addition to having it. You can now refer to apple’s members without saying apple’s name. And you can pass just the apple to functions that expect one. By writing orange.apple.</p>
<p>One last thing on this topic. Even without -fms-extensions you can mostly do this. You can define anonymous structs, anonymous unions. You just can’t define a struct outside and then use it inside without its name. You can do this:</p>
<div class="sourceCode" id="cb4"><pre class="sourceCode c"><code class="sourceCode c"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true"></a></span>
<span id="cb4-2"><a href="#cb4-2" aria-hidden="true"></a><span class="kw">struct</span> fruit {</span>
<span id="cb4-3"><a href="#cb4-3" aria-hidden="true"></a>    <span class="dt">char</span> *name;</span>
<span id="cb4-4"><a href="#cb4-4" aria-hidden="true"></a>    <span class="kw">union</span> {</span>
<span id="cb4-5"><a href="#cb4-5" aria-hidden="true"></a>        <span class="kw">struct</span> {</span>
<span id="cb4-6"><a href="#cb4-6" aria-hidden="true"></a>            <span class="dt">float</span> sourness;</span>
<span id="cb4-7"><a href="#cb4-7" aria-hidden="true"></a>        }; <span class="co">// oranges</span></span>
<span id="cb4-8"><a href="#cb4-8" aria-hidden="true"></a>        <span class="kw">struct</span> {</span>
<span id="cb4-9"><a href="#cb4-9" aria-hidden="true"></a>            <span class="dt">float</span> crunchiness;</span>
<span id="cb4-10"><a href="#cb4-10" aria-hidden="true"></a>        };  <span class="co">// apples</span></span>
<span id="cb4-11"><a href="#cb4-11" aria-hidden="true"></a>    }</span>
<span id="cb4-12"><a href="#cb4-12" aria-hidden="true"></a>}</span></code></pre></div>
<h2 id="the-barrow-downs">The Barrow Downs</h2>
<p>Right now I’d rather know the language of Make. I would have silenced that warning in a jiffy. I’d be rich by now, the time I saved.</p>
<p>It’s swings and roundabouts. I’m obsessed with this idea. There’s no such thing as a free lunch. Programmers (and maybe writers) know this better than anyone.</p>
<p>You do this really awesome thing in an effort to make your program or story better. And it takes ages. And when you’re done you have …</p>
<p>Oh, sometimes you’ll have more flexible code, or more robust code, or faster or more memory-efficient code. But you’ve sacrificed something. Readability, perhaps. Speed. Whatever. It’s gone and there’s <em>no</em> fucking way you’re going back over it again. You’re stuck with it. You’ll defend your decision to the death. You <em>bled</em> for it.</p>
<p>Meson’s big selling-point is it just works. Oh, it’s worth it. I said it was shit earlier – that was a lie. But I’m still mad it took me ages to fix my linter problem.</p>
<h2 id="hey-wait-were-in-mordor">Hey, Wait, We’re in Mordor?</h2>
<p>I’ve got a new complaint.</p>
<p>When I first started programming, I used Visual Studio and Windows. I remember how hard it was for me to compile my first program, which was probably an SDL example. Probably there was Hello, World before that.</p>
<p>Someone said somewhere the hardest thing you’ll ever do in programming is compile your first program. And, oh, I agree. Because there’s all this stuff to learn.</p>
<p>I buggered off to Linux, partly because I’d come to realise if you want to program, particularly in C, it was the place to be. A lot of programming in Windows and Mac is programming in Linux. Users of those OSes use virtual machines, compatibility layers and servers to do it. They have, I am sure, mighty brains, because it’s one thing to compile a program, and quite another cross-compile it, or do it in a VM or container, or do it on the web somehow.</p>
<p>What I didn’t like about Visual Studio was simple: you gave the compiler and linker and build system options by filling out textboxes and picking from menus.</p>
<p>I roared, “But how does it <em>work</em>?”</p>
<p>I felt strongly that Visual Studio’s friendly user interface was obscuring the reality of what I was doing. Now it blindingly obvious to me it’s turning all those textboxes, checkboxes into a commandline, which it’ll fire at the compiler. But I didn’t then.</p>
<p>Meson gives me a strong whiff of that. Look.</p>
<pre class="meson"><code>
    add_global_arguments (&#39;-fms-extensions&#39;, language: &#39;c&#39;)
    add_global_arguments (&#39;-Wno-microsoft&#39;, language: &#39;c&#39;)
    m_dep = cc.find_library (&#39;m&#39;, required : true)
    sdl2_dep = cc.find_library (&#39;SDL2&#39;, required : true)
    sdl2_image_dep = cc.find_library (&#39;SDL2_image&#39;, required : true)
    sdl2_ttf_dep = cc.find_library (&#39;SDL2_ttf&#39;, required : true)
</code></pre>
<p>These are just commandline flags. Meson is taking these strings you give it – “SDL2”, “-fms-extensions”, etc – and appending it to a call to gcc. The cc.find_library function is calling something like pkg-config or cmake. Is all this stuff really better than:</p>
<div class="sourceCode" id="cb6"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb6-1"><a href="#cb6-1" aria-hidden="true"></a></span>
<span id="cb6-2"><a href="#cb6-2" aria-hidden="true"></a>    <span class="fu">gcc</span> -ggdb3 -Wall src/* -fms-extensions -Wno-microsoft <span class="kw">\</span></span>
<span id="cb6-3"><a href="#cb6-3" aria-hidden="true"></a>        <span class="ex">-o</span> build/whatever -l -lm <span class="kw">\</span></span>
<span id="cb6-4"><a href="#cb6-4" aria-hidden="true"></a>            <span class="va">$(</span><span class="ex">pkg-config</span> sdl2 --cflags --libs<span class="va">)</span>  <span class="kw">\</span></span>
<span id="cb6-5"><a href="#cb6-5" aria-hidden="true"></a>            <span class="va">$(</span><span class="ex">pkg-config</span> sdl2_ttf --cflags --libs<span class="va">)</span> <span class="kw">\</span></span>
<span id="cb6-6"><a href="#cb6-6" aria-hidden="true"></a>            <span class="va">$(</span><span class="ex">pkg-config</span> sdl2_image --cflags --libs<span class="va">)</span> <span class="kw">\</span></span></code></pre></div>
<p>Maybe so.</p>
<p>In summary, I could have solved this Meson/LSP/ALE/Vim thing in five seconds flat if I’d written a makefile (or, frankly, since my project is hardly huge, a shell script). But I won’t start writing Makefiles any time soon. I reserve the right to complain about it in the future, though.</p>
<section class="footnotes" role="doc-endnotes">
<hr />
<ol>
<li id="fn1" role="doc-endnote"><p>a language I definitely approve of, that’s packed good ideas and things done right, that I probably won’t use, because already know how to do the things it tries to solve, and learning new languages makes me feel like a toddler or an old man. Maybe one day! But it’s new, too, and if there’s one solid lesson I’ve learned in my years using Linux and programming it’s don’t use new things. Use old and safely dead things, expecially those whose undead life is regulated by crusty old men and women. Because there’s documentation! And they’re getting round to implementing those features you envy. They’ll get there. And in the meantime, well, you can do it gcc already.<a href="#fnref1" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn2" role="doc-endnote"><p>A linter is a program that looks at your code and points out some kind of problem. Some show syntax errors, some tell you that it doesn’t like your coding style. Some just annoy the shit out of you and you don’t know how to shut them up.<a href="#fnref2" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
</ol>
</section>
