<h1 id="doing-two-things-at-once">Doing two things at once</h1>
<p>One thing I’ve always struggled with is, frankly, being a lazy fucker. But, being kinder to myself, let’s say it’s time-management.</p>
<p>I’d love to be a multitasking operating system. Doing a bit of this, then a bit of that, the other. My mother always says she’s always doing fifty things at once.</p>
<p>This is true, though some good Starcraft players like to point out nobody ever does even two things at once. You can’t actually macro and move your army at the same time. It just looks like it when you’re doing it really fast. Same with multitasking operating systems, putting aside threads.</p>
<p>That’s neither here nor there, really; it’s just something I’ve been thinking about. What I’m saying is when I work, I work and when I fuck about I fuck about. Two modes, nothing in between.</p>
<p>I try to be more like my mother. Her house is always clean. Always. I never really thought about it. There’s no socks on the floor. Plates are stuck in the sink, then washed, perhaps immediately, perhaps after soaking.</p>
<p>Cleaning’s an algorithm. Like Bubble Sort. Or, at least it is how I – and I think she – does it. Plates found in the living room go into the sink. Stuff found in the sink gets washed, put on the drying rack. Stuff on the drying rack gets put in the cupboard.</p>
<p>I swear, this is the kind of shit I think about. And yet, my house is untidy. That’s because of my laziness.</p>
<p>So, that’s how I try to approach cleaning. I’ve been doing pretty well. I say “cleaning’s an algorithm” – that’s how I put it, sitting here staring at a fullscreen Vim, having made a directory with mkdir. Mother just says you should do things bit by bit.</p>
<p>It’s good for your brain, too. It’s nice to KEEP ON TOP OF THINGS. The alternative, by the way, is drowning.</p>
<p>Anyway, these musings are me working up to an explanation for why my story’s not finished. Actually, it’s 8 hours from completion. But I’ve had editing jobs this week. One of them’s going to pay a lot – not a normal scenario for me. So I’ve been waiting for them to come to me.</p>
<p>I have ever since about fifteen had problems with sleeping. My mother did, too, till she was about sixty, ie, past the menopause (“the best thing that ever happened to me”). I can’t sleep when I’m expecting something. I don’t mean worrying. I’m not usually worried – at least, not anxious; not even, really, thinking about the thing.</p>
<p>But I can’t sleep.</p>
<p>I’m saying if I’m waiting, I’m waiting. That’s the state. It’s like this C code:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode c"><code class="sourceCode c"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true"></a></span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true"></a>    <span class="cf">switch</span> (state) {</span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true"></a>        <span class="cf">case</span> STATE_EXPECTING:</span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true"></a>            <span class="cf">while</span> (job_not_here)</span>
<span id="cb1-5"><a href="#cb1-5" aria-hidden="true"></a>                <span class="cf">for</span> (<span class="dt">int</span> i = <span class="dv">0</span>; i &lt; get_episode_rating (); i++)</span>
<span id="cb1-6"><a href="#cb1-6" aria-hidden="true"></a>                    detective_conan ();</span>
<span id="cb1-7"><a href="#cb1-7" aria-hidden="true"></a>            <span class="cf">break</span>;</span>
<span id="cb1-8"><a href="#cb1-8" aria-hidden="true"></a>        <span class="cf">case</span> STATE_WORKING: {</span>
<span id="cb1-9"><a href="#cb1-9" aria-hidden="true"></a>            <span class="dt">int</span> work_secs_left = <span class="dv">8</span> * SECS_IN_HOUR;</span>
<span id="cb1-10"><a href="#cb1-10" aria-hidden="true"></a>            <span class="kw">enum</span> something_elses {</span>
<span id="cb1-11"><a href="#cb1-11" aria-hidden="true"></a>                TOILET, DISHES, HOOVER, N_SOMETHING_ELSES,</span>
<span id="cb1-12"><a href="#cb1-12" aria-hidden="true"></a>            };</span>
<span id="cb1-13"><a href="#cb1-13" aria-hidden="true"></a>            <span class="cf">while</span> (secs_left &gt; <span class="dv">0</span>) {</span>
<span id="cb1-14"><a href="#cb1-14" aria-hidden="true"></a>                secs -= work (<span class="dv">1</span> * SECS_IN_HOUR);</span>
<span id="cb1-15"><a href="#cb1-15" aria-hidden="true"></a>                secs -= do_something_else (random %</span>
<span id="cb1-16"><a href="#cb1-16" aria-hidden="true"></a>                        N_SOMETHING_ELSES);</span>
<span id="cb1-17"><a href="#cb1-17" aria-hidden="true"></a>                <span class="cf">break</span></span>
<span id="cb1-18"><a href="#cb1-18" aria-hidden="true"></a>            }</span>
<span id="cb1-19"><a href="#cb1-19" aria-hidden="true"></a>        }</span>
<span id="cb1-20"><a href="#cb1-20" aria-hidden="true"></a>    };</span>
<span id="cb1-21"><a href="#cb1-21" aria-hidden="true"></a></span></code></pre></div>
<p>Probably there’s a bug there.</p>
<p>So, I <em>am</em> working. But I should have finished my story. I was meant to get my piece to edit yesterday but didn’t. Since I knew I wouldn’t get it early on I could have finished my story. Instead I wrote a Syntastic checker plugin for Csound.</p>
