<h1 id="writing-markdown-and-ctags">Writing, Markdown and Ctags</h1>
<h2 id="writings-too-hard">Writing’s too hard</h2>
<p>For a long time I’ve tried to make writing stories more like programming. Programmers have all sorts of tools.</p>
<p>A compiler’s a tool, not just because it compiles the program for but because it finds mistakes for you. Mistakes like You Didn’t Initialise this Variable and That Function Doesn’t Exist.</p>
<p>What’s the writer’s equivalent? I suppose a spell- or grammar-check. But there’s nothing that will make sure your story doesn’t have plot holes. You have to – why does it hurt so much? – use your brain.</p>
<p>Programmers also have lots of ways to get to places in their projects quickly. One tool that does this is Ctags.</p>
<h2 id="ctags">Ctags</h2>
<p>Ctags is a program that makes a sort of database of your code. Editors like Vim use it to let you jump directly to functions, data structures, etc. It’s really, really, really fucking useful.</p>
<p>Here’s an attempt at a demonstration. Say you’ve written a program with one function in it, called do_the_thing. If you run Ctags on that file, Ctags will write a tag file that your editor can read so it knows where that function is. So in Vim, for example, you could type “:tj do_the_thing” and bam, Vim will take you there. You could also (in Vim) put your cursor somewhere that function is written and press ctrl + ]. Bam. Like:</p>
<pre><code>
    Your cursor ↓
        do_the_thing ();
</code></pre>
<p>Bam.</p>
<p>So I wanted Ctags for writing. But it didn’t work on Markdown, and nobody seemed to care!!!! No fucker, it seemed, shared my longing. I even tried to write my own program to do it. A few times actually. I failed.</p>
<p>Well, now Ctags works with Markdown. Universal Ctags, that is. The version I was using (that’s still default in most Linux distros) is Exuberant Ctags. Universal is a newer fork.</p>
<p>So now I write all of my notes in Markdown. Here’s an example:</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode markdown"><code class="sourceCode markdown"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true"></a></span>
<span id="cb2-2"><a href="#cb2-2" aria-hidden="true"></a><span class="fu"># Soraen</span></span>
<span id="cb2-3"><a href="#cb2-3" aria-hidden="true"></a><span class="fu"># Soraen Tororo</span></span>
<span id="cb2-4"><a href="#cb2-4" aria-hidden="true"></a><span class="fu"># our guy</span></span>
<span id="cb2-5"><a href="#cb2-5" aria-hidden="true"></a></span>
<span id="cb2-6"><a href="#cb2-6" aria-hidden="true"></a><span class="fu">## Personality</span></span>
<span id="cb2-7"><a href="#cb2-7" aria-hidden="true"></a>    Blunt but charming</span>
<span id="cb2-8"><a href="#cb2-8" aria-hidden="true"></a>    Business-minded and has fucked someone over in the past</span>
<span id="cb2-9"><a href="#cb2-9" aria-hidden="true"></a>    Soft-hearted</span>
<span id="cb2-10"><a href="#cb2-10" aria-hidden="true"></a>    A hoe</span>
<span id="cb2-11"><a href="#cb2-11" aria-hidden="true"></a></span>
<span id="cb2-12"><a href="#cb2-12" aria-hidden="true"></a><span class="fu">## From</span></span>
<span id="cb2-13"><a href="#cb2-13" aria-hidden="true"></a>    Another town, not far</span>
<span id="cb2-14"><a href="#cb2-14" aria-hidden="true"></a>    That&#39;s why he&#39;s got no parents</span>
<span id="cb2-15"><a href="#cb2-15" aria-hidden="true"></a></span>
<span id="cb2-16"><a href="#cb2-16" aria-hidden="true"></a><span class="fu">## History</span></span>
<span id="cb2-17"><a href="#cb2-17" aria-hidden="true"></a></span>
<span id="cb2-18"><a href="#cb2-18" aria-hidden="true"></a><span class="in">    He left his town because his parents are ice-cold</span></span>
<span id="cb2-19"><a href="#cb2-19" aria-hidden="true"></a></span>
<span id="cb2-20"><a href="#cb2-20" aria-hidden="true"></a><span class="in">    He got at job at a jeweler&#39;s, dicked over the guy when he was old</span></span>
<span id="cb2-21"><a href="#cb2-21" aria-hidden="true"></a><span class="in">            and took over the shop</span></span>
<span id="cb2-22"><a href="#cb2-22" aria-hidden="true"></a></span>
<span id="cb2-23"><a href="#cb2-23" aria-hidden="true"></a><span class="fu">## Looks</span></span>
<span id="cb2-24"><a href="#cb2-24" aria-hidden="true"></a>    Good-looking, blonde</span>
<span id="cb2-25"><a href="#cb2-25" aria-hidden="true"></a></span>
<span id="cb2-26"><a href="#cb2-26" aria-hidden="true"></a><span class="fu">## Age</span></span>
<span id="cb2-27"><a href="#cb2-27" aria-hidden="true"></a>    Forty</span></code></pre></div>
<p>In Markdown, you define headings with #. You add more #s to the # to increase the heading level.</p>
<p>You’ll see I’ve made three top-level headings, “Soraen”, “Soraen Tororo” and “our guy”. If you were to compile this to HTML or epub (which is what you do with Markdown) you’d have three headings one after the other and it’d look silly. I suppose I’m using them sort of as tags. I want to be able to get to Soraen by typing any of these things.</p>
<p>In fact, the file I’ve pasted here isn’t really valid Markdown. The indented stuff would be interpreted as a block quote, I think. But it hardly matters. I’m not going to compile it to HTML.</p>
<p>Repo: <a href="https://gitlab.com/objection/everyone-is-leaving.git">gitlab</a></p>
