<h1 id="christmas-lights-in-the-middle-of-august">Christmas lights in the middle of august</h1>
<h1 id="grudges-come-back-to-haunt-us">grudges come back to haunt us</h1>
<p>You go on the Internet, find yourself on someone’s blog. Sometimes they say “Over the next three years I will thoroughly deconstruct the internals of the panda reproductive system.” They don’t do it, don’t make it. Their blog just lies there, cut off like a disemhanded arm. They got bored. They didn’t get enough out of it.</p>
<p>It always seems so tragic. And maybe they were saying something interesting, about pandas or whatever. Maybe they got a job. Good for them.</p>
<p>I have not hit my goal. Recall I said I’d finish my story before two weeks were up, something like that? Well, a month later I’m not done, not done with the story and not done with the story, ie not giving up. I’m standing tall, glaring at the sun.</p>
<p>You’ve got to stand tall, pick yourself up. I came up with a new metaphor for life recently. I’m always doing that. This one is this: you’re driving a car down a straight road. Most of the time you don’t need to touch the wheel, but you do veer off, a little to the left, a little to the right. Sometimes another car bursts out of the trees, crashes with a great explosion in front of yours. Sometimes it’s just a cat, and you screech to a halt.</p>
<p>I’m always screeching to a halt. I’m mildly addicted to painkillers. I don’t like doing anything if I don’t have them. I ran out, and then it was Christmas, and I ate a lot.</p>
<p>I put the Christmas decorations away yesterday, cleaned up. When I’m getting read to be a real proper person I always go through this ritual, detailed here.</p>
<ol type="1">
<li>Decide it’s time to get back to work.</li>
<li>Start cleaning up the house – a clean house, a clean mind, they say, and it’s TRUE.</li>
<li>Start helpfully helping out my girlfriend. This means I don’t have to help myself.</li>
<li>Sit down at the computer, knowing it’s time to work, the time is now. I don’t. I program, or something, proud that I <em>made</em> it to the computer, confident that tomorrow I really will work.</li>
<li>Sit down at the computer, knowing I won’t, and that this is the first day of real procrastinating. But I allow myself allowed to. I’ve been here before. I’ll get to it.</li>
</ol>
<p>Which beings me to today. The Day. But, no, I’ve figured out another trick, and that is to declare to you, the People of the Ether, my intentions. They’re the same as my intentions of a month ago: one week, one finished story.</p>
<p>This time I’m editing, not writing. I hate/love editing. I quite like editing other people’s shit, now, so long as it’s not utter garbage. But editing my own shit is different. Only because it’s mine, it’s my name on it. I care more.</p>
<h1 id="something-something-something-your-own-worst-enemy">Something something something, your own worst enemy</h1>
<p>Today’s 2021-01-05, the 5th of January. Eight days from now is Wednesday. Why give myself eight days? Didn’t I give myself seven days last time.</p>
<p>Yes, I’m not working today. Fuck off, it’s cold, there’s no heating. Though now that I think about, why’s there no heating? We’ve got a smart meter. The gas / electric company was very keen we get one. I can see why – my girlfriend’s told me she’s spent £120 in a couple of months. Before the smart meter we’d go weeks without buying gas, presumably out of sheer laziness.</p>
<p>So, let’s get the heating on. And then, what, I’m out of excuses. You’re saying I should work. I suppose I could. I mean, I don’t know what I’m going to do today otherwise.</p>
<p>OK, OK, I’ll tell you what. I will work. I will work, now I’ve remembered my first day redrafting usually just consists of reading the thing, making notes and making sure the names and shit are right. That’s not even a bit deal.</p>
<p>Yeah, yeah, ease yourself into it. It <em>is</em> the way to do everything. Bit by bit, divide and conquer, toe first into a still, still pool</p>
<p>Repo: <a href="https://gitlab.com/objection/everyone-is-leaving.git">gitlab</a></p>
